
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script>$(document).ready(function () {

        $(".nav li").removeClass("active");
        $('#Reports').addClass('active open');

        $(".menu-sub li").removeClass("active");
        $('#Marketing').addClass('active');
    });</script>